/* 
:root {
    font-size: 62.5%;
} */

/* body { */
    /* font-family: 'Roboto', sans-serif; */
    /* color: #1e6ca7 */
/* } */

.header{
    background-image: url(../background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }
/* .vertical-center{height:100vh; min-height:100%;min-height:100vh;display:flex;align-items:center} */
.vertical-center {
    height:100vh; 
    /* min-height:100%; */
    min-height:100vh;
    text-shadow:4px 4px 1px #c7c7c793;
    display: flex;
    align-items: center;
}

/* .center {
    margin-left: 10%;
} */

h1, h2, h3, h4, h5 {
    font-weight: bold;
    font-family: 'Lato', sans-serif; 
}

h1 {
    font-size: 14vmin !important;
    z-index: 1;
}

h2 {
    font-size: 5vmin !important;
    z-index: 1;
}

p {
    font-size: 1.25em;
}

.margin-set {
    margin: 10vh !important;
}

.about {
    display: flex;
    background-color: #000;
}

.projects {
    display: flex;
    margin: 0 5vh 0 5vh;
    background-color: #fff;
}

.contact {

}

.padding {
    padding-top: 7.5vh;
    padding-bottom: 10vh;
}

.about-desc{
    padding-right: 20px;
}

#my-pic {
    border-radius: 45%;
}

.nav-design {
    background-color: rgba(49, 62, 80, 0.6);
}

#navbar-alt a{
    color: #fff;
}

.nav-item:hover {
    background-color: #000 !important;
}

html, body {
  margin: 0;
  padding: 0;
  color: #2e3138;
  font-weight: lighter;
}

p {
    font-family: 'Roboto', sans-serif;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }
