/* 
:root {
    font-size: 62.5%;
} */

/* body { */
    /* font-family: 'Roboto', sans-serif; */
    /* color: #1e6ca7 */
/* } */

.header{
    /* #989c94 */
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)), url(../Untitled.png), center, no-repeat;
    background-size: cover;
    /* background-color: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2));
    background-image: url(../Untitled.png);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; */
}

html, body {
  margin: 0;
  padding: 0;
  color: #1e6ca7;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}
/* 
h1 {
    font-size: 5em;
} */